.footer-container {
  background-color: #212428;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #292929;
}
.footer-container p {
  margin: 0.4rem 0 0 0;
  display: flex;
  align-items: center;
}
.footer-links {
  width: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-links a {
  margin: 0;
}
.footer-icon {
  color: #fff;
}
.footer-icon:hover {
  color: #00bfa6;
  transition: all 0.3s ease-in;
}
.heart-icon {
  color: #ff0000;
  margin: 0 0.3rem;
}
